<div class="container">
  <div>
  </div>
  <div class="row">
    <h1><img id="contentCenterMenu_Image1" src="assets/logo.png" style="height:50px;" /> Monero Web Site</h1>
    <p>Monero is a secure, private, and untraceable cryptocurrency. It is open-source and accessible to all. With Monero, you are your own bank. Only you control and are responsible for your funds. Your accounts and transactions are kept private from prying eyes.</p>
    <span style="font-size:13px;">
        <strong>Monero is secure.</strong><br />
        <strong>Monero is private.</strong><br />
        <strong>Monero is untraceable.</strong><br />
    </span>
    <br />
    <br />
    <br />
    <br />
  </div>
  <hr />
</div>