<div id="resetbar">This website is automatically reset at every midnight (00:00 - UTC).</div>
<div class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand">Monero Web Site</a>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/activity">Activity</a></li>
      <li><a routerLink="/languages">Languages</a></li>
      <li><a routerLink="/results">Results</a></li>
      <li><a routerLink="/components">Components</a></li>
      <li><a routerLink="/extras">Extras</a></li>
      <li><a routerLink="/docs">Docs</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>